* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   padding-inline: 10rem;
}

section.movies {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

figure.movie-card {
   position: relative;
   cursor: pointer;
   border-radius: 1rem;
   overflow: hidden;
   transition: filter 200ms ease-in-out;
   img {
      width: 100%;
      object-fit: cover;
   }

      &:hover {
         filter: grayscale(.2) brightness(.6);
   
         figcaption {
            opacity: 1;
            inset: 1rem;
         }
      }
   figcaption {
      opacity: 0;
      background-color: #03030355;
      border-radius: inherit;
      border: 2px solid #fff;
      display: grid;
      color: #fff;
      text-align: center;
      position: absolute;
      width: 80%;
      height: 80%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 200ms ease-in-out;
   }

}

header {
   nav {
      display: flex;
      justify-content: space-between;
   }
}