* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   padding-inline: 10rem;
}

section.movies {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

figure.movie-card {
   &.loading {
      display: grid;
      grid-template-rows: 1fr 4rem;
      row-gap: 1rem;
      height: 18rem;
      border-radius: 1rem;
      border: 2px solid hsl(200, 20%, 95%);
      padding: .5rem;
      background-color: lightgray;

      img {
         height: 100%;
         width: 100%;
         inset: 1px;
         object-fit: fill;
         animation: loading 1.5s linear infinite ;
      }

      figcaption {
         animation: loading 1.5s linear infinite ;
         border-radius: 0 0 1rem 1rem;
         
      }


   }
}

@keyframes loading {
   
}